<style>
.button8 {
    background-color: #000000; 
    border: 1px solid;
    color: white;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
 .button5:hover {
    background-color: #555555;
    color: white;
}
</style> 


<div class="row featuredartist" style="margin-left:30px !important; margin-right:30px !important; padding-right:30px !important; padding-left:30px !important; padding-bottom:20px !important; padding-top:20px !important;">
   <div class="col-md-6">
      <h1 style="margin-bottom:0em !important; font-size:2.0em !important" ><b>Featured Artist:</b> Goompi Ugerabah</h1>
      <br>
      <p style="text-align:justify;  line-height: 25px !important;    font-size: 13px !important; padding-bottom:15px !important;">
         Goompi has been painting since 2002 and has become a rising star in the Aboriginal art world. Using a restrained colour palate and eye-catching graphic designs, Goompi is able to create exciting and engaging works of art.
         Aboriginal art is one of Australia’s leading art styles alongside contemporary and modern art. His artworks are investment pieces and his black and white style has been tagged as corporate style art purchased in Australia and around the world.
      </p>
      <div style="text-align:center;">
         <a href="https://fineprintco.com/blogs/news/aboriginal-artist"><button  class="button8 button5">READ BLOG</button></a>
         <a href="https://fineprintco.com/collections/goompi-ugerabah"><button  class="button8 button5">SHOP GOOMPI</button></a>
      </div>
   </div>
   <div class="col-md-6">
      <a href="https://fineprintco.com/collections/goompi-ugerabah"><img  style="margin-bottom:1em !important;" width="100%" height="500px" src="https://cdn.shopify.com/s/files/1/2439/0231/files/Goompi-Thumb.png"></a>
   </div>
  {% include 'featured-artist-carousel' %}
</div>