
 <div class="maincon" >
   <div class="fauxrow">
   	 <div class="column">
       <img class="centerimgsrc" src="https://cdn.shopify.com/s/files/1/2439/0231/files/frame.jpg?13302911402361958527" alt="" height="212" width="315">
       <p><b>PRINTED & FRAMED BY US</b></p>
       <p>FINEPRINT co uses only the highest qaulity art and framing supplies. We are also a Hahnemühle certified Studio with excellence in fine art, digital art and photographic reproduction.  </p>
      </div>
      <div class="column">
       <img class="centerimgsrc" src="https://cdn.shopify.com/s/files/1/2439/0231/files/del.jpg?13302911402361958527" alt="" height="212" width="315">
       <p><b>SAFE & SECURE ART DELIVERY</b></p>
       <p>We offer our own personal courrier for large peices to ensure that your piece arrives in perfect condition. Our team will also consider your artworks’ unique features to foresee any installation challenges.</p>
      </div>
      <div class="column">
        <img class="centerimgsrc" src="https://cdn.shopify.com/s/files/1/2439/0231/files/signage.jpg?9637103225663980037" alt="" height="212" width="315">
       <p><b>Wide Range of Artists</b></p>
       <p>FINEPRINT co boast a huge range of talented and award winning artist and photographers. Each qaurter we release a new range of prints so there is always a new selection available.</p>
   	  </div>
   </div>
</div>
