<h1 style="text-align: left;">Sizing &amp; Framing</h1>
<div style="text-align: left;"></div>
<div style="text-align: left;">Below is the sizing differences between an unframed print and a print with a frame installed.</div>
<div style="text-align: left;"> </div>
<div style="text-align: left;">Please note that we use different frames and matt board sizes depending on the collection of the print.</div>
<div style="text-align: left;"> </div>
<h2 style="text-align: left;">Slim Aarons</h2>
<div style="text-align: left;"><strong>Portrait &amp; Landscape - Photographic Paper</strong></div>
<div style="text-align: left;">
<table width="100%">
<tbody>
<tr>
<td style="width: 21.8692%;">Size</td>
<td style="width: 37.757%;">Print Only</td>
<td style="width: 36.6355%;"> Framed Print</td>
</tr>
<tr>
<td style="width: 21.8692%;">G</td>
<td style="width: 37.757%;"> 1016 x 1525</td>
<td style="width: 36.6355%;">1250 x1740</td>
</tr>
<tr>
<td style="width: 21.8692%;">F</td>
<td style="width: 37.757%;">762 x 1016</td>
<td style="width: 36.6355%;">930 x 1250</td>
</tr>
<tr>
<td style="width: 21.8692%;">E</td>
<td style="width: 37.757%;">508 x 762</td>
<td style="width: 36.6355%;">770 x 1010</td>
</tr>
<tr>
<td style="width: 21.8692%;">D</td>
<td style="width: 37.757%;">508 x 610</td>
<td style="width: 36.6355%;">770 x 890</td>
</tr>
<tr>
<td style="width: 21.8692%;">C</td>
<td style="width: 37.757%;">406 x 508 </td>
<td style="width: 36.6355%;">680 x 780</td>
</tr>
<tr>
<td style="width: 21.8692%;">B</td>
<td style="width: 37.757%;">305 x 406</td>
<td style="width: 36.6355%;">610 x 710</td>
</tr>
</tbody>
</table>
</div>
<div style="text-align: left;"> </div>
<div style="text-align: left;"><strong>Sqaure - Photographic Paper</strong></div>
<div style="text-align: left;">
<table width="100%">
<tbody>
<tr>
<td style="width: 21.8692%;">Size</td>
<td style="width: 37.757%;">Print Only</td>
<td style="width: 36.6355%;"> Framed Print</td>
</tr>
<tr>
<td style="width: 21.8692%;">G</td>
<td style="width: 37.757%;"> 1016 x 1016</td>
<td style="width: 36.6355%;">1280 x 1280</td>
</tr>
<tr>
<td style="width: 21.8692%;">F</td>
<td style="width: 37.757%;">762 x 762</td>
<td style="width: 36.6355%;">1030 x 1030</td>
</tr>
<tr>
<td style="width: 21.8692%;">E</td>
<td style="width: 37.757%;">610 x 610</td>
<td style="width: 36.6355%;">880 x 880</td>
</tr>
<tr>
<td style="width: 21.8692%;">D</td>
<td style="width: 37.757%;">508 x 508</td>
<td style="width: 36.6355%;">770 x 770</td>
</tr>
<tr>
<td style="width: 21.8692%;">C</td>
<td style="width: 37.757%;">406 x 406 </td>
<td style="width: 36.6355%;">670 x 670</td>
</tr>
<tr>
<td style="width: 21.8692%;">B</td>
<td style="width: 37.757%;">305 x 305</td>
<td style="width: 36.6355%;">565 x 565</td>
</tr>
</tbody>
</table>
</div>
<div style="text-align: center;"> </div>
<h2 style="text-align: left;">Artist Editions</h2>
<div style="text-align: left;"><strong>Photographic and Rag paper - Portrait &amp; Landscape</strong></div>
<div style="text-align: center;">
<table width="100%">
<tbody>
<tr>
<td>Size</td>
<td>Print Only</td>
<td> Framed Print</td>
</tr>
<tr>
<td>F</td>
<td>762 x 1000</td>
<td>950 x 1190</td>
</tr>
<tr>
<td>E</td>
<td>600 x 760</td>
<td>790 x 950</td>
</tr>
<tr>
<td>D</td>
<td>500 x 600</td>
<td>690 x 790</td>
</tr>
<tr>
<td>C</td>
<td>400 x 500 </td>
<td>690 x 790</td>
</tr>
</tbody>
</table>
</div>
<div style="text-align: left;"><strong>Photographic and Rag paper - Square</strong></div>
<div style="text-align: left;">
<table width="100%">
<tbody>
<tr>
<td>Size</td>
<td>Print Only</td>
<td> Framed Print</td>
</tr>
<tr>
<td>F</td>
<td>1000 x 1000</td>
<td>1190 x 1190</td>
</tr>
<tr>
<td>E</td>
<td>800 x 800</td>
<td>990 x 990</td>
</tr>
<tr>
<td>D</td>
<td>600 x 600</td>
<td>790 x 790</td>
</tr>
<tr>
<td>C</td>
<td>400 x 400 </td>
<td>590 x 590</td>
</tr>
</tbody>
</table>
</div>
<div style="text-align: left;">
<div><strong>Satin Canvas - Portrait &amp; Landscape</strong></div>
<div>
<table width="100%">
<tbody>
<tr>
<td>Size</td>
<td>Print Only</td>
<td> Framed Print</td>
</tr>
<tr>
<td>G</td>
<td>1000 x 1300</td>
<td>1030 x 1330</td>
</tr>
<tr>
<td>F</td>
<td>760 x 1000</td>
<td>790 x 1030</td>
</tr>
<tr>
<td>E</td>
<td>600 x 760</td>
<td>630 x 790</td>
</tr>
<tr>
<td>D</td>
<td>500 x 600</td>
<td>530 x 630</td>
</tr>
<tr>
<td>C</td>
<td>400 x 500 </td>
<td>430 x 530</td>
</tr>
</tbody>
</table>
</div>
<div><strong>Satin Canvas - Square</strong></div>
<div>
<table width="100%">
<tbody>
<tr>
<td>Size</td>
<td>Print Only</td>
<td> Framed Print</td>
</tr>
<tr>
<td>G</td>
<td>1300 x 1300</td>
<td>1330 x 1330</td>
</tr>
<tr>
<td>F</td>
<td>1000 x 1000</td>
<td>1030 x 1030</td>
</tr>
<tr>
<td>E</td>
<td>800 x 800</td>
<td>830 x 830</td>
</tr>
<tr>
<td>D</td>
<td>600 x 600</td>
<td>630 x 630</td>
</tr>
<tr>
<td>C</td>
<td>400 x 400 </td>
<td>430 x 430</td>
</tr>
</tbody>
</table>
</div>
<div> </div>
</div>
<h2 style="text-align: left;"><strong>Limited Editions</strong></h2>
<div style="text-align: left;">Due to the nature of limited editions we can not give exact sizing for every print. Our general rule is to add 200mm to both sides of the print. <a href="#temp_created_link">Please call or email for exact sizes.</a> </div>
<div style="text-align: center;"> </div>
<div style="text-align: center;"> </div>
<div style="text-align: center;"> </div>
<div style="text-align: center;"> </div>