<div class="loading cbox">Processing...</div>
<div class="ajax-error-cbox cbox">
  <div class="modal-inner">
    <div class="ajax-error-title">Error</div>
    <div class="ajax-error-message"></div>
  </div>
</div>
<div class="ajax-success-cbox cbox">
	<div class="content">
		<p class="ajax-product-title"></p>
        <p class="success-message show-cart">was added to cart success.</p>
        <p class="success-message show-wishlist">was added to wishlist success.</p>        
    <a href="javascript:void(0)" class="close-cbox"><span class="lnr lnr-cross"></span></a>
 	</div>    
</div>