
<h2 style="text-align: left;">Archival Collection</h2>
<div style="text-align: left;"><strong>Photographic and Rag paper - Portrait &amp; Landscape - Sizing in MM</strong></div>
<div style="text-align: left;">
<table width="100%">
<tbody>
<tr>
<td>Size</td>
<td>Print Only</td>
<td> Framed Print</td>
</tr>
<tr>
<td>F</td>
<td>762 x 1000</td>
<td>950 x 1190</td>
</tr>
<tr>
<td>E</td>
<td>600 x 760</td>
<td>790 x 950</td>
</tr>
<tr>
<td>D</td>
<td>500 x 600</td>
<td>690 x 790</td>
</tr>
<tr>
<td>C</td>
<td>400 x 500 </td>
<td>690 x 790</td>
</tr>
</tbody>
</table>
</div>
<div style="text-align: left;"><strong>Photographic and Rag paper - Square - Sizing in MM</strong></div>
<div style="text-align: left;">
<table width="100%">
<tbody>
<tr>
<td>Size</td>
<td>Print Only</td>
<td> Framed Print</td>
</tr>
<tr>
<td>F</td>
<td>1000 x 1000</td>
<td>1190 x 1190</td>
</tr>
<tr>
<td>E</td>
<td>800 x 800</td>
<td>990 x 990</td>
</tr>
<tr>
<td>D</td>
<td>600 x 600</td>
<td>790 x 790</td>
</tr>
<tr>
<td>C</td>
<td>400 x 400 </td>
<td>590 x 590</td>
</tr>
</tbody>
</table>
</div>
<div style="text-align: left;">
<div><strong>Satin Canvas - Portrait &amp; Landscape - Sizing in MM</strong></div>
<div>
<table width="100%">
<tbody>
<tr>
<td>Size</td>
<td>Print Only</td>
<td> Framed Print</td>
</tr>
<tr>
<td>G</td>
<td>1000 x 1300</td>
<td>1030 x 1330</td>
</tr>
<tr>
<td>F</td>
<td>760 x 1000</td>
<td>790 x 1030</td>
</tr>
<tr>
<td>E</td>
<td>600 x 760</td>
<td>630 x 790</td>
</tr>
<tr>
<td>D</td>
<td>500 x 600</td>
<td>530 x 630</td>
</tr>
<tr>
<td>C</td>
<td>400 x 500 </td>
<td>430 x 530</td>
</tr>
</tbody>
</table>
</div>
<div><strong>Satin Canvas - Square - Sizing in MM</strong></div>
<div>
<table width="100%">
<tbody>
<tr>
<td>Size</td>
<td>Print Only</td>
<td> Framed Print</td>
</tr>
<tr>
<td>G</td>
<td>1300 x 1300</td>
<td>1330 x 1330</td>
</tr>
<tr>
<td>F</td>
<td>1000 x 1000</td>
<td>1030 x 1030</td>
</tr>
<tr>
<td>E</td>
<td>800 x 800</td>
<td>830 x 830</td>
</tr>
<tr>
<td>D</td>
<td>600 x 600</td>
<td>630 x 630</td>
</tr>
<tr>
<td>C</td>
<td>400 x 400 </td>
<td>430 x 430</td>
</tr>
</tbody>
</table>
</div>
<div> </div>
</div>