<h2> Open Edition Sizing </h2>
<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;border-color:#999;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#999;color:#444;background-color:#F7FDFA;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#999;color:#fff;background-color:#26ADE4;}
.tg .tg-88nc{font-weight:bold;border-color:inherit;text-align:center}
</style>
<table class="tg" style="undefined;table-layout: fixed; width: 100%">
<colgroup>
<col style="width: 101px">
<col style="width: 101px">
<col style="width: 101px">
<col style="width: 101px">
</colgroup>
  <tr>
    <th class="tg-88nc" colspan="4">Portrait and Landscape - Matt Photographic Paper - Sizing in MM</th>
  </tr>
  <tr>
    <td class="tg-88nc" colspan="2">Image Size</td>
    <td class="tg-88nc" colspan="2">Framed Size</td>
  </tr>
  <tr>
    <td class="tg-88nc" colspan="2">F. 760 × 1000</td>
    <td class="tg-88nc" colspan="2">F. 950 × 1190</td>
  </tr>
  <tr>
    <td class="tg-88nc" colspan="2">E. 600 × 760</td>
    <td class="tg-88nc" colspan="2">E. 790 × 950</td>
  </tr>
  <tr>
    <td class="tg-88nc" colspan="2">D. 500 × 600</td>
    <td class="tg-88nc" colspan="2">D. 690 × 790</td>
  </tr>
  <tr>
    <td class="tg-88nc" colspan="2">C. 400 × 500</td>
    <td class="tg-88nc" colspan="2">C. 590 × 690</td>
  </tr>
</table>

<table class="tg" style="undefined;table-layout: fixed; width:  100%">
<colgroup>
<col style="width: 101px">
<col style="width: 101px">
<col style="width: 101px">
<col style="width: 101px">
</colgroup>
  <tr>
    <th class="tg-88nc" colspan="4">Square - Matt Photographic Paper - Sizing in MM</th>
  </tr>
  <tr>
    <td class="tg-88nc" colspan="2">Image Size</td>
    <td class="tg-88nc" colspan="2">Framed Size</td>
  </tr>
  <tr>
    <td class="tg-88nc" colspan="2">F. 760 × 760</td>
    <td class="tg-88nc" colspan="2">F. 950 × 950</td>
  </tr>
  <tr>
    <td class="tg-88nc" colspan="2">E. 600 × 600</td>
    <td class="tg-88nc" colspan="2">E. 790 × 790</td>
  </tr>
  <tr>
    <td class="tg-88nc" colspan="2">D. 500 × 500</td>
    <td class="tg-88nc" colspan="2">D. 690 × 690</td>
  </tr>
  <tr>
    <td class="tg-88nc" colspan="2">C. 400 × 400</td>
    <td class="tg-88nc" colspan="2">C. 590 × 590</td>
  </tr>
</table>

<table class="tg" style="undefined;table-layout: fixed; width: 100%">
<colgroup>
<col style="width: 106px">
<col style="width: 106px">
<col style="width: 106px">
<col style="width: 105px">
</colgroup>
  <tr>
    <th class="tg-88nc" colspan="4">Landscape & Potrait - Canvas - Sizing in MM</th>
  </tr>
  <tr>
    <td class="tg-88nc" colspan="2">Image Size</td>
    <td class="tg-88nc" colspan="2">Framed Size</td>
  </tr>
  <tr>
    <td class="tg-88nc" colspan="2">G. 1000 × 1300</td>
    <td class="tg-88nc" colspan="2">G. 1030 × 1330</td>
  </tr>
  <tr>
    <td class="tg-88nc" colspan="2">F. 760 × 1000</td>
    <td class="tg-88nc" colspan="2">F. 790 × 1030</td>
  </tr>
  <tr>
    <td class="tg-88nc" colspan="2">E. 600 × 760</td>
    <td class="tg-88nc" colspan="2">E. 630 × 790</td>
  </tr>
  <tr>
    <td class="tg-88nc" colspan="2">D. 500 × 600</td>
    <td class="tg-88nc" colspan="2">D. 530 × 630</td>
  </tr>
  <tr>
    <td class="tg-88nc" colspan="2">C. 400 × 500</td>
    <td class="tg-88nc" colspan="2">C. 430 × 530</td>
  </tr>
</table>
<table class="tg" style="undefined;table-layout: fixed;width: 100%">
<colgroup>
<col style="width: 106px">
<col style="width: 106px">
<col style="width: 106px">
<col style="width: 105px">
</colgroup>
  <tr>
    <th class="tg-88nc" colspan="4">Square - Canvas - Sizing in MM</th>
  </tr>
  <tr>
    <td class="tg-88nc" colspan="2">Image Size</td>
    <td class="tg-88nc" colspan="2">Framed Size</td>
  </tr>
  <tr>
    <td class="tg-88nc" colspan="2">G. 1000 × 1000</td>
    <td class="tg-88nc" colspan="2">G. 1030 × 1030</td>
  </tr>
  <tr>
    <td class="tg-88nc" colspan="2">F. 760 × 760</td>
    <td class="tg-88nc" colspan="2">F. 790 × 790</td>
  </tr>
  <tr>
    <td class="tg-88nc" colspan="2">E. 600 × 600</td>
    <td class="tg-88nc" colspan="2">E. 630 × 630</td>
  </tr>
  <tr>
    <td class="tg-88nc" colspan="2">D. 500 × 500</td>
    <td class="tg-88nc" colspan="2">D. 530 × 530</td>
  </tr>
  <tr>
    <td class="tg-88nc" colspan="2">C. 400 × 400</td>
    <td class="tg-88nc" colspan="2">C. 430 × 430</td>
  </tr>
</table>