<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;border-color:#999;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#999;color:#444;background-color:#F7FDFA;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#999;color:#fff;background-color:#26ADE4;}
.tg .tg-88nc{font-weight:bold;border-color:inherit;text-align:center}
.tg .tg-uys7{border-color:inherit;text-align:center}
.tg .tg-7btt{font-weight:bold;border-color:inherit;text-align:center;vertical-align:top}
</style>
<table class="tg" style="undefined;table-layout: fixed; width: 100%">
<colgroup>
<col style="width: 229px">
<col style="width: 168px">
</colgroup>
  <tr>
    <th class="tg-uys7" colspan="2">Snapper Media - Landscape &amp; Portrait - Photographic and Rag Paper - Sizing in MM</th>
  </tr>
  <tr>
    <td class="tg-uys7"><span style="font-weight:bold">Image Size</span></td>
    <td class="tg-uys7"><span style="font-weight:bold">Framed Size</span></td>
  </tr>
  <tr>
    <td class="tg-88nc">F. 760 x 1000</td>
    <td class="tg-88nc">F. 950 x 1190</td>
  </tr>
  <tr>
    <td class="tg-88nc">E. 600 x 760</td>
    <td class="tg-88nc">E. 790 x 950</td>
  </tr>
  <tr>
    <td class="tg-88nc">D. 500 x 600</td>
    <td class="tg-88nc">D. 690 x 790</td>
  </tr>
  <tr>
    <td class="tg-88nc">C. 400 x 500</td>
    <td class="tg-88nc">C. 590 x 690</td>
  </tr>
</table>

<table class="tg" style="undefined;table-layout: fixed; width: 100%">
<colgroup>
<col style="width: 240px">
<col style="width: 176px">
</colgroup>
  <tr>
    <th class="tg-uys7" colspan="2">Snapper Media - Landscape &amp; Portrait - Canvas - Sizing in MM</th>
  </tr>
  <tr>
    <td class="tg-uys7"><span style="font-weight:bold">Image Size</span></td>
    <td class="tg-uys7"><span style="font-weight:bold">Framed Size</span></td>
  </tr>
  <tr>
    <td class="tg-88nc">G. 1000 x 1500</td>
    <td class="tg-88nc">G. 1190 x 1690</td>
  </tr>
  <tr>
    <td class="tg-88nc">F. 760 x 1000</td>
    <td class="tg-88nc">F. 950 x 1190</td>
  </tr>
  <tr>
    <td class="tg-88nc">E. 600 x 760</td>
    <td class="tg-88nc">E. 790 x 950</td>
  </tr>
  <tr>
    <td class="tg-88nc">D. 500 x 600</td>
    <td class="tg-88nc">D. 690 x 790</td>
  </tr>
  <tr>
    <td class="tg-88nc">C. 400 x 500</td>
    <td class="tg-88nc">C. 590 x 690</td>
  </tr>
</table>