<h2>1x Prints</h2>
<div><strong>Matt Photographic - Portrait &amp; Landscape</strong></div>
<div>
<table width="100%">
<tbody>
<tr>
<td>Size</td>
<td>Print Only</td>
<td> Framed Print</td>
</tr>
<tr>
<td>F</td>
<td>920 x 1160</td>
<td>950 x 1190</td>
</tr>
<tr>
<td>E</td>
<td>760 x 920</td>
<td>790 x 950</td>
</tr>
<tr>
<td>D</td>
<td>660 x 760</td>
<td>690 x 790</td>
</tr>
<tr>
<td>C</td>
<td>560 x 660</td>
<td>590 x 690</td>
</tr>
</tbody>
</table>
</div>
<div><strong>Photographic and Rag paper - Square</strong></div>
<div>
<table width="100%">
<tbody>
<tr>
<td>Size</td>
<td>Print Only</td>
<td> Framed Print</td>
</tr>
<tr>
<td>F</td>
<td>920 x 920</td>
<td>950 x 950</td>
</tr>
<tr>
<td>E</td>
<td>760 x 760</td>
<td>790 x 790</td>
</tr>
<tr>
<td>D</td>
<td>660 x 660</td>
<td>690 x 690</td>
</tr>
<tr>
<td>C</td>
<td>560 x 560</td>
<td>590 x 590</td>
</tr>
</tbody>
</table>
</div>
<div>
<div><strong>Satin Canvas - Portrait &amp; Landscape</strong></div>
<div>
<table width="100%">
<tbody>
<tr>
<td>Size</td>
<td>Print Only</td>
<td> Framed Print</td>
</tr>
<tr>
<td>G</td>
<td>1100 x 1400</td>
<td>1030 x 1330</td>
</tr>
<tr>
<td>F</td>
<td>860 x 1100</td>
<td>790 x 1030</td>
</tr>
<tr>
<td>E</td>
<td>700 x 860</td>
<td>630 x 790</td>
</tr>
<tr>
<td>D</td>
<td>600 x 700</td>
<td>530 x 630</td>
</tr>
<tr>
<td>C</td>
<td>500 x 600</td>
<td>430 x 530</td>
</tr>
</tbody>
</table>
</div>
<div><strong>Satin Canvas - Square</strong></div>
<div>
<table width="100%">
<tbody>
<tr>
<td>Size</td>
<td>Print Only</td>
<td> Framed Print</td>
</tr>
<tr>
<td>G</td>
<td>1100 x 1100</td>
<td>
<p>1030 x 1030</p>
</td>
</tr>
<tr>
<td>F</td>
<td>860 x 860</td>
<td>790 x 790</td>
</tr>
<tr>
<td>E</td>
<td>700 x 700</td>
<td>630 x 630</td>
</tr>
<tr>
<td>D</td>
<td>600 x 600</td>
<td>530 x 530</td>
</tr>
<tr>
<td>C</td>
<td>500 x 500</td>
<td>430 x 430</td>
</tr>
</tbody>
</table>
</div>
</div>
 </div>
<div style="text-align: center;"> </div>
<div style="text-align: center;"> </div>