<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;border-color:#999;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#999;color:#444;background-color:#F7FDFA;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#999;color:#fff;background-color:#26ADE4;}
.tg .tg-88nc{font-weight:bold;border-color:inherit;text-align:center}
.tg .tg-uys7{border-color:inherit;text-align:center}
.tg .tg-7btt{font-weight:bold;border-color:inherit;text-align:center;vertical-align:top}
</style>
<p>Slim Aarons prints feature a 90mm Matt Board and a 15mm white board around the print. For Slim Aarons print dimensions refer to the paper size. In most cases the image size will be slightly smaller<p>
<table class="tg" style="undefined;table-layout: fixed; width: 100%">
<colgroup>
<col style="width: 219px">
<col style="width: 160px">
</colgroup>
  <tr>
    <th class="tg-uys7" colspan="2">Slim Aarons - Landscape &amp; Portrait - Sizing in MM</th>
  </tr>
  <tr>
    <td class="tg-uys7"><span style="font-weight:bold">Image Size</span></td>
    <td class="tg-uys7"><span style="font-weight:bold">Framed Size</span></td>
  </tr>
  <tr>
    <td class="tg-88nc">G.  1016  × 1525</td>
    <td class="tg-88nc">G. 1250 x 1740</td>
  </tr>
  <tr>
    <td class="tg-88nc">F. 762 x 1016</td>
    <td class="tg-88nc">F. 930 x 1250</td>
  </tr>
  <tr>
    <td class="tg-88nc">E. 508 x 762</td>
    <td class="tg-88nc">E. 770 x 1010 </td>
  </tr>
  <tr>
    <td class="tg-88nc">D. 508 x 610</td>
    <td class="tg-88nc">D. 770 x 890</td>
  </tr>
  <tr>
    <td class="tg-7btt">C. 406 x 508</td>
    <td class="tg-7btt">C. 680 x 780</td>
  </tr>
</table>
<table class="tg" style="undefined;table-layout: fixed; width: 100%">
<colgroup>
<col style="width: 219px">
<col style="width: 160px">
</colgroup>
  <tr>
    <th class="tg-uys7" colspan="2">Slim Aarons - Square - Sizing in MM</th>
  </tr>
  <tr>
    <td class="tg-uys7"><span style="font-weight:bold">Image Size</span></td>
    <td class="tg-uys7"><span style="font-weight:bold">Framed Size</span></td>
  </tr>
  <tr>
    <td class="tg-88nc">G.  1016  × 1016</td>
    <td class="tg-88nc">G. 1250 x 1250</td>
  </tr>
  <tr>
    <td class="tg-88nc">F. 762 x 762</td>
    <td class="tg-88nc">F. 930 x 930</td>
  </tr>
  <tr>
    <td class="tg-88nc">D. 508 x 508</td>
    <td class="tg-88nc">D. 770 x 770</td>
  </tr>
  <tr>
    <td class="tg-7btt">C. 406 x 406</td>
    <td class="tg-7btt">C. 680 x 680</td>
  </tr>
</table>