
<div class="container">
<div class="row featuredartist"><img style="width:1200px;padding:15px 15px 15px 15px;"src="https://cdn.shopify.com/s/files/1/2439/0231/files/register.png?2124126197763372947" />
<h2 style="text-align: center">Join Our Trade Program</h2>
<h4 style="text-align: center">One Source For All Your Art Needs</h4>
<p style="padding-left:50px; padding-right:50px;"> 
  {{page.content}}
  </p>
  <br>
  <br>
  <div id="ytvideo" style="display:none;">
  <div style="margin: 0 auto;" class="pxFormGenerator" id="duaPOW6OB3zBXvTMhw9xSg"></div>
  </div>
  <div style="text-align:center;">
  <a id="homevideo" class="btn" style="">Sign Up</a>
  </div>
<p> </p>
</div>
</div>

<script>
$(document).on('click','#homevideo',function(e){
    $('#homevideo').hide();
    $('#ytvideo').show();
});
</script>
