
{% layout settings.customer_layout %}
<h1 style="text-align: center;"><img src="" alt="" /></h1>
<h1 style="text-align: center;">TRADE SHOW SIGNUP</h1>
<table style="width: 100%; text-align: left; border: none !important;">
<tbody>
<tr>
<td style="width: 115px;"></td>
<td style="width: 353px;">
</td>
<td style="width: 114px;"></td>
</tr>
</tbody>
</table>
<table style="width: 100%; text-align: center; border: none !important;">
  <tr valign="top" align="center">
    <td>
<div class="create-an-account">
  <header class="page-header">
    <h1>REGISTER YOUR ACCOUNT</h1>
  </header>
  <div style="margin:0 auto;" class="pxFormGenerator" id="6zkwAugID8MEEXtWI29a0g"></div>		
</div>
    </td>
  </tr>
</table>