<div style="text-align: center;"><img src="https://cdn.shopify.com/s/files/1/2439/0231/files/design_services_black.png?15877496221191448603" width="25%"/></div>
<br>
<div class="container">
<div class="row featuredartist"><img style="padding:15px 15px 15px 15px;"src="https://cdn.shopify.com/s/files/1/2439/0231/files/insitu.png" />
<h2 style="padding-left:15px">Art in Situ</h2>
<h4 style="padding-left:15px">Our Art, Your Room</h4>
<p style="padding-left:15px; padding-right:15px;"> Choosing a right artwork for your home can be a daunting task, bringing up questions:
What will it look like in my home?
What size would be right?
Would the colour palette suit?
We can help you to see how our artwork would look on your walls.
Take a photo of your space, we suggest to take a face-on photo, not from an angle and upload it to our form below. Then pick some artwork from our range and we will do the rest for you.</p>
  <br>
  <div id="ytvideo" style="display:none;">
  <div style="margin: 0 auto;" class="pxFormGenerator" id="EvnUK1MWoO_RU-Nxq0A2Cg"></div>
  </div>
  <div style="text-align:center;">
  <a id="homevideo" class="btn" style="">Upload Images</a>
  </div>
<p> </p>
</div>
</div>

<script>
$(document).on('click','#homevideo',function(e){
    $('#homevideo').hide();
    $('#ytvideo').show();
});
</script>
