<style>
.button8 {
    background-color: #000000; 
    border: 1px solid;
    color: white;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
 .button5:hover {
    background-color: #555555;
    color: white;
}
</style>

<header class="page-header" >
    <!--<h
2>{{ page.title }}</h2>-->
</header>
<div class="row" style="background-image: url(https://cdn.shopify.com/s/files/1/2439/0231/files/div-bg.jpg?14520326760959262570);background-size: contain; background-position: right center; background-repeat: no-repeat; background-size: 1200px 400px;">
	<div class="col-md-6">
      	<h1><b>High Qaulity Framing Services</b></h1>
  		<p>FINEPRINT co uses only the highest quality materials on offer. Sourcing from a range of global moulding and glass providers our range only has the best of the best framing options</p>
		<br>
      	<p>Whetehr it be a standard box frame to a bespoke reverse canvas frame we gaurentee that our frames will stand the test of time. Combined with our UV resistant glass and plexi options your print will always be protected.</p>
  	</div>
  	<div class="col-md-12">
   		<br>
      	<br>
      	<br>
      	<br>
  	</div>
  <br>

</div>
<br>
<div class="row" style="">
	<div class="col-md-6">
      	<img src="https://cdn.shopify.com/s/files/1/2439/0231/files/frames_132370f9-b92c-4682-bf7b-f608d94c2fec.png?14102897484889389190" style="height: 306px; width:906px">
	</div>
  	<div class="col-md-6">
   	 	<h1>Choose Your Moulding</h1>
  		<p>FINEPRINT co boast a expansive range of framing options as well as bespoke options through custom orders. You name it, we frame it. Simply contact david@fineprintco.com for any custom orders.</p>
		<br>
      	<p>Our in-house master framers can produce bespoke framing solutions to suit all our clients individual requirements. We also offer the fastest turn around times of any print and frame supplier.</p>
  
  	</div>
</div>
<div class="row" style="">
	<div class="col-md-12">
		<img src="https://cdn.shopify.com/s/files/1/2439/0231/files/frams.png?4164513041819442207">
  	</div>
</div>
<br>
<div class="row" style="background-image: url(https://cdn.shopify.com/s/files/1/2439/0231/files/16-d-rings.jpg);background-size: contain; background-position: right center; background-repeat: no-repeat; background-size: 500px 250px;">
	<div class="col-md-6">
  		<h1>Hanging Fixtures and Hardware</h1>
  		<p>FINEPRINT co offers 2 main hanging solutions. Smaller prints up to F size will use simple D hooks combined with strings. Larger prints F-G size will use Plexi Glass combined with rigid and strong hanging hardware.</p>
		<br>
  	</div>
  	<div class="col-md-6">
   	 	<br>
      	<br>
  	</div>
</div>
<br>
<hr>
<div class="row">
	<div class="col-md-2">
	</div>
	<div class="col-md-4">
		<img src="https://cdn.shopify.com/s/files/1/2439/0231/files/butterflys.jpg?2053170870135906373">
	</div>
	<div class="col-md-4"> 
		<br>
		<h2><b>SHOP OUR RANGE</b></h2>
		<p> Shop our amazing range of contempory and modern art prints including artist such as David Bromley, Kate Bergin and our exclusive Slim Aarons Collection.</p>
		<br>
      <a href="https://fineprintco.com/pages/shop-collections"><button  class="button8 button5">VIEW</button></a>
		<br>
	</div>
	<div class="col-md-2">
	</div>
</div>
