
<header class="page-header">
    <!--<h2>{{ page.title }}</h2>-->
</header>
<p>Below is the sizing differences between an unframed print and a print with a frame installed.<p>
<p>Please note that we use different frames and matt board sizes depending on the collection of the print,<br>
and that sizes can sometimes be up to 5mm off.<p>
{% comment %}
  Regular page content goes here.
{% endcomment %}
<div class="rte">
  {{ page.content }}
</div>