
<header class="page-header">
    <!--<h2>{{ page.title }}</h2>-->
</header>

<style>
.button8 {
    background-color: #000000; 
    border: 1px solid;
    color: white;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
 .button5:hover {
    background-color: #555555;
    color: white;
}
</style>

<div class="row" style="background-image: url(https://cdn.shopify.com/s/files/1/2439/0231/files/photo-printing-printing.png?8203480089214318200);background-size: contain; background-position: right center; background-repeat: no-repeat; background-size: 1500px 500px;">
	<div class="col-md-6">
      	<br>
      	<h1><b>High Qaulity Archival Printing</b></h1>
  		<p>The studio is comprised of latest generation pigmented ink printers – Epson’s Surecolor 20700 64” and alongside that is our solvent inkjet Epson S70600 64”. </p>
		<br>
      	<p>The staffs working in the print studio has a strong<br> background in fine art imaging, having worked in the<br> field for over a decade. Visual artists themselves, they can<br> balance aesthetic judgements with the technical considerations<br> digital printmaking presents.</p>
  		<br>
  		<br>
  	</div>
  	<div class="col-md-12">
   	 	<br>
      	<br>
  	</div>
</div>
<br>
<div class="row" style="">
	<div class="col-md-6">
		<img src="https://cdn.shopify.com/s/files/1/2439/0231/files/EmptyName-7a-1.jpg?8203480089214318200">
	</div>
  	<div class="col-md-6">
   	 	<h1>HAHNEMUEHLE GERMAN ETCHING</h1>
	 	<p>German Etching – a white, 100% α-cellulose paper – guarantees archival standards. The mould-made etching paper features a distinct textured surface. With its premium matt inkjet coating German Etching meets the highest industry standards regarding density, colour gamut, colour graduation and image sharpness while preserving the special touch and feel of genuine art paper. Compatible with pigmented and dye inkjet systems.</p>
  		<hr>
      	<div class="col-md-4" style="text-align: center; line-height: 0.8;">
          <p  style="color: black;"><b>Finish</b></p><br>
          Matte
      	</div>
      	<div class="col-md-4" style="text-align: center; line-height: 0.8;">
          <p  style="color: black;"><b>Texture</b></p><br>
          Textured Cotton
      	</div>
      	<div class="col-md-4" style="text-align: center; line-height: 0.8;">
          <p  style="color: black;"><b>Weight</b></p><br>
          310GSM
      	</div>
  	</div>
</div>

<div class="row" style="height:363px">
	<div class="col-md-6">
      	<br>
  		<h1>Matt Photo Paper</h1>
      	<p>We only use the best materials and solid woods in our fine art framing range, from luxurious contemporary tray frames in walnut to sumptuous traditional oak frames with a mount board.</p>
      	<hr>
      	<div class="col-md-4" style="text-align: center; line-height: 0.8;">
          <p  style="color: black;"><b>Finish</b></p><br>
          Matte
      	</div>
      	<div class="col-md-4" style="text-align: center; line-height: 0.8;">
          <p  style="color: black;"><b>Texture</b></p><br>
          Fine grain
      	</div>
      	<div class="col-md-4" style="text-align: center; line-height: 0.8;">
          <p  style="color: black;"><b>Weight</b></p><br>
          210GSM
      	</div>
  	</div>
  	<div class="col-md-6">
		<img src="https://cdn.shopify.com/s/files/1/2439/0231/files/EmptyName-10-e1499691251135.jpg?8203480089214318200">
  	</div>
</div>
<div class="row" style="">
	<div class="col-md-6">
		<img src="https://cdn.shopify.com/s/files/1/2439/0231/files/EmptyName-14-e1499691293187.jpg?8203480089214318200">
	</div>
  	<div class="col-md-6">
      	<br>
   	 	<h1>ILFORD PHOTO REALISTIC SATIN</h1>
	  	<p>ILFORD Photo Realistic Paper is created with high levels of imaging performance along with forward thinking of environmental advancements. It is suitable for printing photographic images, and other graphics. Photo Realistic Paper combines the superb imaging performance that you would expect from an ILFORD product and value for money.</p>
  		<hr>
      	<div class="col-md-4" style="text-align: center; line-height: 0.8;">
          <p  style="color: black;"><b>Finish</b></p><br>
          Satin Sheen
      	</div>
      	<div class="col-md-4" style="text-align: center; line-height: 0.8;">
          <p  style="color: black;"><b>Texture</b></p><br>
          Smooth to touch
      	</div>
      	<div class="col-md-4" style="text-align: center; line-height: 0.8;">
          <p  style="color: black;"><b>Weight</b></p><br>
          260GSM
      	</div>
  	</div>
</div>
<div class="row" style="height:363px">
	<div class="col-md-6">
      	<br>
  		<h1>ECLIPSE LIGHT PREMIUM CANVAS</h1>
      	<p>Eclipse Light Weight Premium Satin Canvas is a bright white inkjet canvas with a wide colour gamut and low sheen finish. Eclipse Light Satin Canvas is poly-cotton blend canvas, for the solvent that is specifically designed for the décor market. It is a no-frills, low-cost alternative that still delivers excellent print quality.</p>
      	<hr>
      	<div class="col-md-4" style="text-align: center; line-height: 0.8;">
          <p  style="color: black;"><b>Finish</b></p><br>
          Matte
      	</div>
      	<div class="col-md-4" style="text-align: center; line-height: 0.8;">
          <p  style="color: black;"><b>Texture</b></p><br>
          Medium to fine grain
      	</div>
      	<div class="col-md-4" style="text-align: center; line-height: 0.8;">
          <p  style="color: black;"><b>Weight</b></p><br>
          240GSM
      	</div>
  	</div>
  	<div class="col-md-6">
		<img src="https://cdn.shopify.com/s/files/1/2439/0231/files/EmptyName-5a-e1499691451553.jpg?2916831168066968050">
  	</div>
</div>

<br>
<br>
<hr>
<br>

<div class="row">
	<div class="col-md-2">
	</div>
	<div class="col-md-4">
		<img src="https://cdn.shopify.com/s/files/1/2439/0231/files/butterflys.jpg?2053170870135906373">
	</div>
	<div class="col-md-4"> 
		<br>
		<h2><b>SHOP OUR RANGE</b></h2>
		<p> Shop our amazing range of contempory and modern art prints including artist such as David Bromley, Kate Bergin and our exclusive Slim Aarons Collection.</p>
		<br>
      <a href="https://fineprintco.com/pages/shop-collections"><button  class="button8 button5">VIEW</button></a>
		<br>
	</div>
	<div class="col-md-2">
	</div>
</div>
