
<div class="container">
<div class="row featuredartist"><img style="width:1200px;padding:15px 15px 15px 15px;"src="https://cdn.shopify.com/s/files/1/2439/0231/files/app.jpg?13265934277218154228" />
<h2 style="text-align: center">ARTIST APPLICATION</h2>
<h4 style="text-align: center">Apply to be represented by FINEPRINT co</h4>
<p style="padding-left:50px; padding-right:50px;"> 
  {{page.content}}
  </p>
  <br>
  <br>
  <div id="ytvideo" style="display:none;">
  <div style="margin:0 auto;" class="pxFormGenerator" id="YQhUo-wefJ2f0sUIr0Ad6A"></div>		
  </div>
  <div style="text-align:center;">
  <a id="homevideo" class="btn" style="">Apply</a>
  </div>
<p> </p>
</div>
</div>

<script>
$(document).on('click','#homevideo',function(e){
    $('#homevideo').hide();
    $('#ytvideo').show();
});
</script>
