
<header class="page-header">
    <!--<h2>{{ page.title }}</h2>-->
</header>

{% comment %}
  Regular page content goes here.
{% endcomment %}
<div class="rte">
  {{ page.content }}
  
  <iframe src="https://open.spotify.com/embed/track/4sS2tlrtRIlzgSNiQympSe" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
</div>